#badges-grid {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#badges-grid .badge-item {
  flex: 1 0 100px;
  max-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
